.customers {
  text-align: center;
  justify-content: center;
  width: 450px;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  &__svg {
    fill: #afb1b8;
    border-radius: 4px;
    outline: 1px solid #afb1b8;
    width: 210px;
    height: 92px;
  }
  &__svg:hover,
  &__svg:focus {
    outline: 1px solid #2196f3;
    fill: #2196f3;
    transition: all 0.2s;
  }
  &__list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .customers {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    width: 738px;
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__svg {
      width: 226px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    &__svg {
      width: 170px;
    }

    &__list {
      flex-wrap: nowrap;
    }
  }
}
