.teamate {
  margin: 0;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__discription {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
    padding-bottom: 16px;
  }
  &__img {
    width: 450px;
  }
}
@media screen and (max-width: 480px) {
  .teamate {
    &__img {
      width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  .teamate {
    &__img {
      width: 354px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .teamate {
    &__img {
      width: 270px;
      height: 260px;
    }
  }
}
