.topics {
  &__list {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.03em;
  }

  &__item {
    margin: 0;
    width: inherit;
  }

  &__svg {
    background-color: #f5f4fa;
    border-radius: 4px;
    width: 270px;
    height: 120px;
  }

  &__headline {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    width: 270px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  &__discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    letter-spacing: 0.03em;
    width: 270px;
  }
}
